@model WebAssessment.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceAfterDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceAfterDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
